.content {
    width: 100%;
}

.title {
    margin: 30px 0 20px 0;
}
.find-job {
    margin-top: 20px;
    display: flex;
    margin-bottom: 30px;
}
.find-job div {
    margin-right: 5px;
}
.find-job div:last-child{
    margin-right: 0;
}
.find-job .input {
    flex: 2;
}
.find-job .form-group {
    flex: 1;
}
.find-job .search-button {
    flex: 1;
}
.ad-carousel {
    width: 100%;
}
.quang-cao {
    margin: 0 auto;
}
#ads-1 {
    width: 100%;
}
.title-ttd {
    margin: 20px 0 20px 0;
}
.list-cong-viec {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: center;
}
.jobs-item {
    border: 1px solid #9fbaff;
    border-radius: 7px;
    display: flex;
    flex-direction: row ;
    padding: 16px 5px 10px 0;
    margin: 0 10px 10px 0;
    flex:  1;

}
.jobs-item:hover {
    background-color: #9fbaff;
    transition: all 0.3s;
}
.logo-company {
    display: flex;
    flex-direction: column;
}
.name-job {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.name-company  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}